@{
   /* ViewData["Title"] = "Home Page";

    string name = "Nur";
    string Welcome()
    {
        return "John";
    }

    @:This is comming from Code block
    int value = 15;

    string message = "<h1>here is message  </h1>";
    */

   ViewData["Title"] = "Home Page";


}

<div class="text-center">
      
    <h1 class="display-4">Welcome</h1>

</div>