@model IEnumerable<Student>

@{
    ViewBag.Header = "Training Institution";
    ViewData["Motor"] = "A Training Instute ";
}

<div class="container mt-3">
    <h2>Student List</h2>
    <p>@TempData["Message"]</p>

    <partial name="_Table" model="@Model" />

</div>